
{% extends "webmobile/base/base.html" %}

{% block meta %}<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">{% endblock %}

{% block link %} 
    <link rel="stylesheet" href="{% static 'webmobile/css/index.css' %}" type="text/css" />
{% endblock %}

{% block jscript %}
    
{% endblock %}

{% block title %} OMERO mobile: {{ ome.user.getFullName }} {% endblock %}


{% block body %}
<div id="top-header">
    <div style="float:left">
        <a href="{% url webmobile_index %}">
            <img src="{% static 'webmobile/img/logo.png' %}" border=0 />
        </a>
        {% block header-title %}{% endblock %}
    </div>
    <div id="top-header-right">
        {{ ome.user.getFullName }}
    </div>
    <div style="clear:both"></div>
</div>

<div class="header">
    <div id="header-title">
        Group:
        <a href="{% url webmobile_choose_group %}">
            {{ ome.active_group.getName }}
        </a>
        User:
        <a href="{% url webmobile_choose_user %}">
            {{ ome.active_user.getFullName }}
        </a>
    </div>
    <div id='header-right'>{% block header-right %}{% endblock %}</div>
    <div style="clear:both"></div>
</div>

<div id="page_content">
{% block content %}
{% endblock %}
</div>

<div class="clear"></div>

<div id="footer">
    <a href="{% url webmobile_logout %}">logout</a>
</div>
{% endblock %}